{% extends '@ezdesign/dashboard_layout.html.twig' %}

{% block content %}
    {% if content_list.totalCount %}
        <div class="row">
            <p>Found <strong>{{ content_list.totalCount }}</strong> Content items</p>
        </div>
        <div class="row">
            <ul>
                {% for content in content_list %}
                    <li>
                        {{ content.contentInfo.contentType.name }}:
                        {{ render(
                            controller(
                                "ez_content:viewAction",
                                {
                                    'contentId': content.id,
                                    'viewType': 'embed-inline',
                                    'layout': false
                                }
                            )
                        ) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="row">
            There's no content.
        </div>
    {% endif %}
{% endblock %}
